[submodule "bgfx"]
	path = bgfx
	url = https://github.com/hiergaut/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/hiergaut/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/hiergaut/bimg.git
